<launch>
	<!--<node name = "mocap_node" type="mocap_ros2" pkg="mocap_ros2" args = "-l 192.168.1.234 -s 192.168.1.162" launch-prefix="gdbserver host:2345" output="screen" >-->
	<node name = "mocap_node" type="mocap_ros2" pkg="mocap_ros2" args = "-l 192.168.1.234 -s 192.168.1.162" output="screen" >
		<param name="nbodies" value="1" />
	</node>
</launch>
